<div id="modal-makeClient" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <form  name="clientForm" method="post" autocomplete="on">
      <header class="modal-card-head">
        <p class="modal-card-title">Modal title</p>
        <button class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
          <div class="field">
            <label class="label">Ф.И.О</label>
            <div class="control">
              <input class="input" name="fullname" type="text" placeholder="Иванов Иван Иванович">
            </div>
          </div>
          <div class="field">
            <label class="label">Электронная Почта</label>
            <div class="control">
              <input class="input" name="email" type="email" placeholder="example@my.com">
            </div>
          </div>
          <div class="field">
            <label class="label">Номер телефона</label>
            <input class="input" name="phone" type="tel" placeholder="+7XXXXXXXXXX">
          </div>
      </section>
      <footer class="modal-card-foot">
        <div class="buttons">
          <button class="button is-success" type="submit">Save changes</button>
          <button class="button">Cancel</button>
        </div>
      </footer>
    </form>
  </div>
</div>